@use '../utils' as *;

.attribution {
  font-size: var(--fs-100);
  text-align: center;
  color: var(--text-primary-500);
  position: absolute;
  bottom: 1rem;
}
.attribution a {
  color: var(--text-accent-500);
  &:hover,
  &:focus {
    color: var(--text-primary-600);
  }
}
