@use '../utils' as *;

.wrapper {
  max-width: min(87.2vw, 28.125rem);
  overflow: hidden;
  border-radius: 20px;
  box-shadow: var(--shadow-box-wrapper);
  &__main {
    min-height: 25rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    background-color: var(--c-primary-100);
  }
}
